:where(.cui-box) {
	--cui-box--background-focused-overlay: linear-gradient(rgba(var(--cui-theme-controls--rgb-1000), 0.01), rgba(var(--cui-theme-controls--rgb-1000), 0.01));
	--cui-box--background-color-rgb: ;
	--cui-box--background-color-opacity: 1;
	--cui-box--background-color: rgba(var(--cui-box--background-color-rgb), var(--cui-box--background-color-opacity));
	--cui-box--border-radius: 0px;
	--cui-box--border-width: 0px;
	--cui-box--padding: 0px;
	--cui-box--padding-left: var(--cui-box--padding);
	--cui-box--padding-right: var(--cui-box--padding);
	--cui-box--padding-top: var(--cui-box--padding);
	--cui-box--padding-bottom: var(--cui-box--padding);
	background-color: transparent;
	border-width: var(--cui-box--border-width);
	border-style: solid;
	border-color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--low));
	border-radius: var(--cui-box--border-radius);
	display: flex;
	align-items: stretch;
	flex-direction: column;
	padding-left: var(--cui-box--padding-left);
	padding-right: var(--cui-box--padding-right);
	padding-top: var(--cui-box--padding-top);
	padding-bottom: var(--cui-box--padding-bottom);
	position: relative;
}

:where(.cui-box[data-fit="width"]) { width: 100%; }
:where(.cui-box[data-fit="height"]) { height: 100%; }
:where(.cui-box[data-fit="both"]) { width: 100%; height: 100%; }

:where(.cui-box[data-border-radius]) { --cui-box--border-radius: var(--cui-border-radius) }
:where(.cui-box[data-border-radius="gap"]) { --cui-box--border-radius: var(--cui-gap) }
:where(.cui-box[data-border-radius="double"]) { --cui-box--border-radius: var(--cui-double-gap) }
:where(.cui-box[data-border-radius="gutter"]) { --cui-box--border-radius: var(--cui-gutter) }
:where(.cui-box[data-border-radius="padding"]) { --cui-box--border-radius: var(--cui-padding) }
:where(.cui-box[data-border-radius="large"]) { --cui-box--border-radius: calc(1.5 * var(--cui-padding)) }
:where(.cui-box[data-border-radius="larger"]) { --cui-box--border-radius: calc(3 * var(--cui-padding)) }

:where(.cui-box[data-background]) { background-color: var(--cui-box--background-color) }

:where(.cui-box[data-background]) { --cui-box--background-color-rgb: var(--cui-background-color--rgb-50) }
:where(.cui-box[data-background-color="0"]) { --cui-box--background-color-rgb: var(--cui-background-color--rgb-0) }
:where(.cui-box[data-background-color="25"]) { --cui-box--background-color-rgb: var(--cui-background-color--rgb-25) }
:where(.cui-box[data-background-color="50"]) { --cui-box--background-color-rgb: var(--cui-background-color--rgb-50) }
:where(.cui-box[data-background-color="100"]) { --cui-box--background-color-rgb: var(--cui-background-color--rgb-100) }

:where(.cui-box[data-background-color="toned"]) { --cui-box--background-color-rgb: var(--cui-background-color--toned-rgb-50) }
:where(.cui-box[data-background-color="toned-0"]) { --cui-box--background-color-rgb: var(--cui-background-color--toned-rgb-0) }
:where(.cui-box[data-background-color="toned-25"]) { --cui-box--background-color-rgb: var(--cui-background-color--toned-rgb-25) }
:where(.cui-box[data-background-color="toned-50"]) { --cui-box--background-color-rgb: var(--cui-background-color--toned-rgb-50) }
:where(.cui-box[data-background-color="toned-100"]) { --cui-box--background-color-rgb: var(--cui-background-color--toned-rgb-100) }

:where(.cui-box[data-background-color="controls"]) { --cui-box--background-color-rgb: var(--cui-background-color--controls-rgb-50) }
:where(.cui-box[data-background-color="controls-0"]) { --cui-box--background-color-rgb: var(--cui-background-color--controls-rgb-0) }
:where(.cui-box[data-background-color="controls-25"]) { --cui-box--background-color-rgb: var(--cui-background-color--controls-rgb-25) }
:where(.cui-box[data-background-color="controls-50"]) { --cui-box--background-color-rgb: var(--cui-background-color--controls-rgb-50) }
:where(.cui-box[data-background-color="controls-100"]) { --cui-box--background-color-rgb: var(--cui-background-color--controls-rgb-100) }

:where(.cui-box[data-background-color="toned-controls"]) { --cui-box--background-color-rgb: var(--cui-background-color--toned-controls-rgb-50) }
:where(.cui-box[data-background-color="toned-controls-0"]) { --cui-box--background-color-rgb: var(--cui-background-color--toned-controls-rgb-0) }
:where(.cui-box[data-background-color="toned-controls-25"]) { --cui-box--background-color-rgb: var(--cui-background-color--toned-controls-rgb-25) }
:where(.cui-box[data-background-color="toned-controls-50"]) { --cui-box--background-color-rgb: var(--cui-background-color--toned-controls-rgb-50) }
:where(.cui-box[data-background-color="toned-controls-100"]) { --cui-box--background-color-rgb: var(--cui-background-color--toned-controls-rgb-100) }

:where(.cui-box[data-background-color="controls-inverse"]) { --cui-box--background-color-rgb: var(--cui-background-color--controls-inverse-rgb-50) }
:where(.cui-box[data-background-color="controls-inverse-0"]) { --cui-box--background-color-rgb: var(--cui-background-color--controls-inverse-rgb-0) }
:where(.cui-box[data-background-color="controls-inverse-25"]) { --cui-box--background-color-rgb: var(--cui-background-color--controls-inverse-rgb-25) }
:where(.cui-box[data-background-color="controls-inverse-50"]) { --cui-box--background-color-rgb: var(--cui-background-color--controls-inverse-rgb-50) }
:where(.cui-box[data-background-color="controls-inverse-100"]) { --cui-box--background-color-rgb: var(--cui-background-color--controls-inverse-rgb-100) }

:where(.cui-box[data-background-opacity="opaque"]) { --cui-box--background-color-opacity: var(--cui-opacity--opaque) }
:where(.cui-box[data-background-opacity="high"]) { --cui-box--background-color-opacity: var(--cui-opacity--high) }
:where(.cui-box[data-background-opacity="medium"]) { --cui-box--background-color-opacity: var(--cui-opacity--medium) }
:where(.cui-box[data-background-opacity="low"]) { --cui-box--background-color-opacity: var(--cui-opacity--low) }
:where(.cui-box[data-background-opacity="lower"]) { --cui-box--background-color-opacity: var(--cui-opacity--lower) }
:where(.cui-box[data-background-opacity="transparent"]) { --cui-box--background-color-opacity: var(--cui-opacity--transparent) }

:where(.cui-box[data-border]) {
	--cui-box--border-width:	var(--cui-border-width, 1px)
}

:where(.cui-box[data-padding]) { --cui-box--padding: var(--cui-padding) }
:where(.cui-box[data-padding="gap"]) { --cui-box--padding: var(--cui-gap) }
:where(.cui-box[data-padding="double"]) { --cui-box--padding: var(--cui-double-gap) }
:where(.cui-box[data-padding="gutter"]) { --cui-box--padding: var(--cui-gutter) }
:where(.cui-box[data-padding="padding"]) { --cui-box--padding: var(--cui-padding) }
:where(.cui-box[data-padding="large"]) { --cui-box--padding: calc(1.5 * var(--cui-padding)) }
:where(.cui-box[data-padding="larger"]) { --cui-box--padding: calc(3 * var(--cui-padding)) }

:where(.cui-box-header:empty),
:where(.cui-box-body:empty),
:where(.cui-box-footer:empty) {
	display: contents;
}

:where(.cui-box-header),
:where(.cui-box-footer) {
	display: flex;
	gap: var(--cui-gap);
}

:where(.cui-box-body) {
	flex: 1 1 auto;
	min-width: 0px;
	max-width: 100%;
}

:where(.cui-box-header),
:where(.cui-box-footer) {
	align-items: center;
	flex-direction: row;
	font-weight: 600;
	justify-content: space-between;
}

:where(.cui-box-actions) {
	display: flex;
	gap: var(--cui-gap);
	grid-column: 2;
}

:where(
	.cui-box[data-active],
	.cui-box.is-dragged,
) {
	color: rgb(var(--cui-color--accent-rgb-50));
	border-color: rgb(var(--cui-color--accent-rgb-50));
	background-image: var(--cui-box--background-focused-overlay);
	box-shadow: inset 0 0 0 2px rgb(var(--cui-color--accent-rgb-50));
	transition: box-shadow 0.15s;
}

:where(.cui-box[data-focus-ring]:focus-within) {
	border-color: rgb(var(--cui-color--accent-rgb-50));
	box-shadow: var(--cui-box-shadow--controls-focus-ring);
	z-index: 1;
}

:where(.cui-box.is-dragged) {
	z-index: 9999;
}
